<html>
<body>

<h1 style="display:none" id="hide">The mumbl is:</h1>
<div id="update">
</div>
<br />
<hr />

<form method="POST" action="/">

What's your mumbl? Write a short message and we'll turn it into a subdomain.
<input name="text" />

<input type="submit" value="Save" />

</form>


Source code: <a href="https://github.com/chrisjsimpson/mumbl">https://github.com/chrisjsimpson/mumbl</a>

<h2>Inspired by</h2>
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">subdomains<br><br>permalink: <a href="https://t.co/MpWAAnFrVY">https://t.co/MpWAAnFrVY</a> <a href="https://t.co/uzhabXicMd">pic.twitter.com/uzhabXicMd</a></p>&mdash; 🔎Julia Evans🔍 (@b0rk) <a href="https://twitter.com/b0rk/status/1365049145749364737?ref_src=twsrc%5Etfw">February 25, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<script>
if (document.location.href != 'https://mumbl.app/') {
document.getElementById("hide").style.display = "block"

document.getElementById('update').textContent = document.location.host.replace(".mumbl.app", "");
}
</script>

*wildcard certificates only work one level deep :( meaning one-word subdomains are OK and have
certificates (courtesy of letsencrypt). So https://hello.mumbl.app works, but no longer than that- (e.g. https://hello.another.mumbl.app) will not.
But you can still create a <em>really long</em> subdomain, it'll just be http only.

</body>

</html>
